<% if (current_account.role == 'student') %>
  <li>
    <a id="karma-counter" rel="tooltip" title="Mis puntos de Karma">
      Karma: <%= current_karma %>
    </a>		
  </li>
<% end %>
<li><a rel="tooltip" href="/my/profile" title="Profile"><%= current_account.email %></a></li>